<!-- Bild mit dingsess-->
<div class="view">
    <img src="https://images.pexels.com/photos/2873277/pexels-photo-2873277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="img-fluid" alt="Responsive image" width="100%">
    <div class="mask flex-center waves-effect waves-light rgba-teal-superlight">
        <div class="full-bg-img mask rgba-black-light">
            <div class="container flex-center">
              <div class="row pt-5 mt-3 w-100">
                <div class="col-md-12">
                  <div class="text-center">
                    <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Jakob Wagner</strong></h2>
                    <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                    <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Maschinenbaustudent aus München</strong></h5>
                    <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                      mdbWavesEffect>Skills</a>
                    <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                      mdbWavesEffect>Über mich</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>

  <!-- Ueber mich -->
<div class="container-fluid">
    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">
          <div class="view">
              <img src='../../assets/img/1573410218575.jpg' class="image-personal" alt="" Image>
            </div>
        </div>
        <div class="col-md-5 d-flex align-items-center">
            <div>
                <h2 class="font-weight-bold mb-4 information-head">Kochen ist Liebe</h2>
                <h4 class="information-text">München ist mein Lebensmittelpunkt und hier studiere ich auch Maschinenwesen an der TUM (Technische Universität München).</h4>
                <h4 class="information-text">Kochen ist für mich der beste Ausgleich zu meinem Universitären Alltag. Ich kann mich krativ verwirklichen und in Rezepten Geschichten nachvollziehen.</h4>
                <div class="container" style="height:50px;"></div>
            </div>
        </div>
    </div>
</div>
